.bg-darker-1 {
  background-color: rgba(0, 0, 0, 0.05); }

.bg-darker-2 {
  background-color: rgba(0, 0, 0, 0.1); }

.bg-darker-3 {
  background-color: rgba(0, 0, 0, 0.15); }

.bg-darker-4 {
  background-color: rgba(0, 0, 0, 0.2); }

.bg-darker-5 {
  background-color: rgba(0, 0, 0, 0.25); }

.bg-lighter-1 {
  background-color: rgba(255, 255, 255, 0.05); }

.bg-lighter-2 {
  background-color: rgba(255, 255, 255, 0.1); }

.bg-lighter-3 {
  background-color: rgba(255, 255, 255, 0.15); }

.bg-lighter-4 {
  background-color: rgba(255, 255, 255, 0.2); }

.bg-lighter-5 {
  background-color: rgba(255, 255, 255, 0.35); }
